.carts__items {
  position: relative;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  width: 32%;
  height: 275px;
  border-radius: 8px;
}

.carts__items img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.carts__info {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  color: #000000;
  z-index: 1;
  width: 100%;
  height: 300px;
  padding: 0px 15px;
  box-sizing: border-box;
  bottom: -270px;

  transition: bottom 1s ease;
}

.carts__info h2 {
  margin-top: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.carts__items:hover .carts__info {
  bottom: -140px;
}

@media (max-width: 1024px) {
  .carts__items {
    width: 31.8%;
    height: 230px;
  }
}

@media (max-width: 768px) {
  .carts__items {
    width: 48.5%;
    height: 249px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .carts__items {
    width: 100%;
    height: 205px;
  }
}
