.selector {
  ul {
    display: flex;
    margin: 0;
    margin-bottom: 16px;
    li {
      list-style: none;
      padding: 10px 14px;
      box-sizing: border-box;
      text-transform: uppercase;
    }
  }
}

.selector__activepage {
  background: #ffffff;
  color: black;
}

.selector__activeradius {
  border: 1px solid #ffffff;
  cursor: pointer;

  &:hover {
    background: #464646;
  }
}

.selector__radiusleft {
  border-radius: 8px 0 0 8px;
}

.selector__radiusright {
  border-radius: 0 8px 8px 0;
}

.selector__radiusnoactive {
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: default;
}

.flexDirection {
  display: flex;
}
