.selector ul {
  display: flex;
  margin: 0;
  padding-bottom: 16px;
}

.selector ul li {
  cursor: pointer;
  list-style: none;
}

.selector li {
  padding: 10px 14px;
  box-sizing: border-box;
  text-transform: uppercase;
}

.radius__left {
  border-radius: 8px 0 0 8px;
}

.radius__right {
  border-radius: 0 8px 8px 0;
}

.radius__noactive {
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: auto;
}

.radius__active {
  border: 1px solid #000000;
}

.radius__active:hover {
  background: #ededed;
}

.selector__number {
  text-decoration: none;
  color: #000000;
}
.selector__active {
  background: #ffffff;
}

.select__active {
  background: #000000;
  color: rgb(255, 255, 255);
}

.active {
}

.flexDirection {
  display: flex;
}
