.selector ul {
  display: flex;
}

.selector ul li {
  cursor: pointer;
  list-style: none;
}

.selector li {
  padding: 10px 14px;
  box-sizing: border-box;
  text-transform: uppercase;
}

.radius__left {
  border-radius: 8px 0 0 8px;
}

.radius__right {
  border-radius: 0 8px 8px 0;
}

.radius__noactive {
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: auto;
}

.radius__active {
  border: 1px solid #ffffff;
}

.radius__active:hover {
  background: #464646;
}

.selector__number {
  text-decoration: none;
  color: #ffffff;
}
.selector__active {
  background: #ffffff;
}

.select__active {
  background: #ffffff;
  color: black;
}

.active {
}

.flexDirection {
  display: flex;
}
