.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    padding-top: 25px;
  }
}
